

/* Hover effects */
#topbar .icofont-whatsapp:hover {
    color: #25D366 !important;
}

#topbar .a-whastapp:hover {
    color: #128C7E !important;
}

#topbar .social-links .facebook:hover {
    color: #2170c4 !important;
}

#topbar .social-links .instagram:hover {
    color: #C13584 !important;
}

#topbar .social-links .twitter:hover {
    color: #1a9de3 !important;
}

#topbar .social-links .youtube:hover {
    color: #FF0000 !important;
}

#topbar .social-links .tiktok:hover {
    color: #1DA1F2 !important;
}

#topbar .social-links .threads:hover svg {
    fill: #1DA1F2 !important;
}

#topbar .social-links .bbb:hover {
    color: #000000 !important;
}
